body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.box{
    width: 200px;
    height: 200px;
    background-color:#0081cf ;
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
}