body{
    background-color: rgb(170, 181, 181);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.profile{
    width:50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.profilepic img{
    margin-top: 100px;
    width: 100px;
    height: 100px;
    border: 10px solid #ec5f3c;
    border-radius: 50%;
}
.profilehead{
    color: rgb(0, 0, 0);
    font-size: 22px;
    
}   
.profilebody{
   color: rgb(47, 45, 45);
   
}
.icons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 25px;
}
.buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
}
/* .bt1{
    color: white;
    background-color: #ec5f3c;
    gap: 20px;
    border:3px solid #ec5f3c;
    border-radius: 15px;
    padding: 10px;

}
.bt2{
    background-color: white;
    color: #ec5f3c;
    gap: 20px;
    border:3px solid #ec5f3c;
    border-radius: 15px;
    padding: 10px;

} */
.bt{
    background-color: white;
    color: #ec5f3c;
    gap: 20px;
    border:3px solid #ec5f3c;
    border-radius: 15px;
    padding: 10px;

}
.bt:hover{
    background-color: #ec5f3c;
    color: white;
    cursor: pointer;
}